body{
    height: unset;
}
.nav{
    flex-direction: column;
}
.object{
    overflow: hidden;
}
.object ul{
    flex-direction: column;
    padding: 0rem;
}
.object ul li{
    margin: 0rem;
    text-align: center;
    border-bottom: 0.1rem solid #fff;
}
.logo img{
    display: block;
    margin: 0 auto;
}
.body-title{
    position: static;
    background-image: none;
    background-color: transparent;
    margin: 0 auto;
    margin-top: 2rem;
    font-family: 'Poppins', sans-serif;
}
.body-title p{
    color: transparent;
    -webkit-text-stroke: 0.5px #dd2879;
    background-image: url('../image/back.png');
    background-size: cover;
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back-anim 30s linear infinite;
}
@keyframes back-anim{
    100%{
        background-position: 2000px 0;
    }
}
.search{
    position: initial;
    margin-bottom: 1rem;
}
.search form input[type="text"]{
    width: 35%;
    margin-left: 20%;
}
.search form input[type="submit"]{
    width: 20%;
}